/* === General Styles === */

:root {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../images/pattern-background-desktop.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
}

/* === Content Styles === */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 29.296%;
  height: auto;
  margin: 7.813% 0% 6.576% 32.227%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

/* === Hero Image Section Styles === */

.hero_container img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 100%;
}

/* === Text Section Styles === */

h1 {
  text-align: center;
  width: 78.67%;
}

p {
  text-align: center;
  color: hsl(224, 23%, 55%);
  width: 78.67%;
}

/* === Annual Plan Confirmation Section Styles === */

ul {
  margin-top: 0;
  padding: 0;
  width: 78.67%;
  display: inline-flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 20px;
}

li {
  display: flex;
  flex-direction: column;
}

.subheading {
  width: 100%;
}

li a {
  font-size: .8rem;
  font-weight: 700;
}

/* === Purchase Button Styles === */

.purchase {
  width: 78.67%;
  background-color: hsl(245, 75%, 52%);
  color: hsl(0, 0%, 100%);
  border: none;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  margin-top: 2.22%;
  padding: 3% 0;
  border-radius: 15px;
  box-shadow: 10px 10px 10px hsl(224, 23%, 55%);
}
